body{
  background-color: #8d8383;

}
.App {
  padding:4rem;

}
.form{
  background-color: #4b4f4b;
}

.dark{
  background: #1f1717;
  color: white;

}


.card {
  margin-bottom: 150px;
  perspective: 500px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.contactform{
max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 300px;
  text-align: center;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  transform: rotateY( 180deg );
}



rgb-div{
  width:200px;
  height:200px;
}
.counter-button{
  height: 50px;
  width: 50px;
  border-radius: 50% !important;
  background-color: #696669 !important  ;
}
.bold{
  font-weight: bold;
}
.italic{
  font-style: italic;
}
.underlined{
  text-decoration: underline;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
